# Scripts on some OS's don't show as the script name as the command name.
# Rather the name of the interpreter is listed (e.g. bash or perl)
# Here's how you can match against a script.
# Look for my processes: ps-watcher.
[perl]
  trigger = \$args =~ /ps-watcher --log/
  action  = echo "ok 1"
  occurs  = every
# On BSD/OS the name of the script rather than the interpreter is show.
[ps-watcher]
  trigger = \$args =~ /ps-watcher --log/
  action  = echo "ok 1"
  occurs  = every
