# $Id: count.cnf,v 1.1 2002/02/06 04:10:54 rocky Exp $
# Test of count and none parameters

# I'm assuming there can't be a processes with $ in the name
[fuxaduxa$]
  occurs = none
  action = echo "ok 1"

# Look for my processes so there should be at least one.
[perl]
  occurs = none
  action = echo "not ok 2"
