Source: ps-watcher
Section: admin
Priority: extra
Maintainer: Jan Wagner <waja@cyconet.org>
Build-Depends: debhelper (>= 9)
Build-Depends-Indep: autotools-dev, libconfig-inifiles-perl, perl-modules
Homepage: http://ps-watcher.sourceforge.net/
Vcs-Browser: http://git.debian.org/?p=pkg-perl/packages/ps-watcher.git
Vcs-Git: git://git.debian.org/git/pkg-perl/packages/ps-watcher.git
Standards-Version: 3.9.5

Package: ps-watcher
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, libconfig-inifiles-perl, procps
Recommends: libsys-syslog-perl
Description: monitoring a system via ps-like commands
 This program runs the ps command periodically and triggers commands on matches.
 The match patterns are Perl regular expressions which can refer to the process
 information via variables.
 .
 For example it can be used to ensure that a daemon is running, or is not
 running too many times. It can also be used to determine when a process has
 consumed too many resources, perhaps due to a memory leak.
